body {
	font-family: "Bahnschrift", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	padding: 3rem;
}

.heading-primary {
	height: 100%;
	position: relative;
	background-color: #0452A0 !important;
	
	&__loginbox {
		position: absolute;
		width: 0;
		height: 0;
		border-top: 40px solid transperant;
		border-left: 80px solid transperant;
		border-bottom: 40px solid transperant;
		background-color: #FFFFFF !important;
		border-radius: 3px;
		box-shadow: 0 3rem 6rem #000 !important;

		&--text {
			font-family: inherit;
			font-size: 2rem;
			color: #2D2424;
		}

	}
	
}