/* BackGround Colors */

$color-primary: #0452A0;
$color-secondary: #FFB33C;
$color-tertiary: #A6F0FC;
$color-white: #FFFFFF;
$color-green-light: #DCFFD4;
$color-green-dark: #1EBC00;

/* Text Colors */

$color-text-black-light: #4D5057;
$color-text-black-dark: #2D2424;
$color-text-white: #FFFFFF;
$color-text-blue-dark: #0452A0;
$color-text-blue-light: #3DE7FB;
$color-text-grey: #49596A;
$color-text-green: #1DFF68;

/* Radio Colors */
$color-error: #CC2A30;
$color-reminder: #12C9DE;
$color-update: #1EBC00;